<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aptoide.appcoinsunity">
    <uses-permission android:name="com.android.vending.BILLING" tools:node="remove"/>
    <uses-permission android:name="com.appcoins.BILLING" />
<application android:allowBackup="true"
    android:supportsRtl="true"
    android:name=".Application"
    >
    <activity
        android:name="com.aptoide.appcoinsunity.PurchaseActivity"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Translucent.NoTitleBar"
        />
</application>
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
